<%- include("partials/header.ejs") %>

<h1>Add Comment</h1>
<form action="/comment" method="post">

    <div class="form-group">
        <label for="userName">Enter Your Name: </label>
        <input type="text" name="userName" class="form-control">

        <label for="userBuilding" class="form-label">Enter Building Name</label>
    <input
      name="userBuilding"
      class="form-control"
      list="datalistOptions"
      id="exampleDataList"
      placeholder="Select any given building"
    />
    <datalist id="datalistOptions">
      <option value="Orion"></option>
      <option value="LHC"></option>
      <option value="Library (NIT Trichy)"></option>
      <option value="Library (NIT Srinagar)"></option>
      <option value="Octagon"></option>
    </datalist>

        <label for="userComment">Enter Your Comment</label>
        <textarea name="userComment" class="form-control"></textarea>
    </div>

    <button type="submit" name="button"
    class="btn btn-primary">Post Comment</button>
</form>

<%- include("partials/footer.ejs") %>